<!-- Start Modal Delete Employee -->
<div id="myModalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete this Employee</h4>
      </div>
      <div class="modal-body">
        
        <strong>Are you sure delete {{ clickEmp.emp_name }} ? If you clik (Yes) all information about this employee has been gone.</strong>

      </div>
      <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteEmp(clickEmp.employee_id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>
<!-- End Modal Delete Employee -->